<h1>Welcome to <span>Rainforest</span></h1>
<p>A site where users can submit and review products</p>

<div><%= link_to "Login", login_path %> or <%= link_to "Sign up", new_user_path %></div>

<p>Not interested in signing up? View our list of products <%= link_to "here", all_products_path %>.</p> 