.products {
  width: 60vw;
  display: flex;
  height: 80%;
  flex-direction: column;
  overflow: scroll;
}

.product-card {
  text-align: center;
  background: #fff;
  height: 20vh;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favourites {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}