@import 'reset.scss';
@import 'globals.scss';
@import 'colours.scss';
@import 'layout.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'forms.scss';
@import 'products.scss';


.flash {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  text-align: center;
}