@import 'reset.scss';
@import 'globals.scss';
@import 'colours.scss';
@import 'homepage.scss';
@import 'main.scss';
@import 'show.scss';
@import 'forms.scss';
@import 'products.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: #fff;
  a {
    margin-right: 2em;
    color: green;
  }
  .logo {
    margin-left: 2vw;
    font-size: 2em;
    a {
      color: green;   
    }
  }
}

main {
  display: flex;
  justify-content: center;
}

.flash {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  text-align: center;
}